name: Windows Containers
on:
  # This Workflow can be triggered manually
  workflow_dispatch:
  # Build container images on a daily schedule
  schedule:
    - cron: '11 5 * * *'
  push:
    branches:
    - main
  pull_request:
    branches:
      - main
  # Let's also build & tag Spack containers on releases.
  release:
    types: [published]

concurrency:
  group: ci-${{github.ref}}-${{github.event.pull_request.number || github.run_number}}
  cancel-in-progress: true

jobs:
  deploy-windows-images:
    timeout-minutes: 600
    runs-on: windows-2019
    permissions:
      packages: write
    strategy:
      # Even if one container fails to build we still want the others
      # to continue their builds.
      fail-fast: false
      matrix:
        dockerfile:
          [
            {
              name: "windows-servercore1809",
              path: "windows-servercore1809.dockerfile",
            },
          ]
    name: Build ${{ matrix.dockerfile.name }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set Container Tag
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: ghcr.io/spack/${{ matrix.dockerfile.name }}

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Docker Build
        run: docker build -f Dockerfiles/${{ matrix.dockerfile.path }} -t ${{ steps.meta.outputs.tags }} .

      - name: Docker Push
        run: docker push ${{ steps.meta.outputs.tags }}

      # - name: Build & Deploy ${{ matrix.dockerfile.path }}
      #   uses: docker/build-push-action@v4
      #   with:
      #     file: Dockerfiles/${{ matrix.dockerfile.path }}
      #     platforms: windows/amd64
      #     push: true
      #     tags: ${{ steps.meta.outputs.tags }}
      #     labels: ${{ steps.meta.outputs.labels }}
      #     cache-from: |
      #       ghcr.io/spack/${{ matrix.dockerfile.name }}:nightly
      #       ghcr.io/spack/${{ matrix.dockerfile.name }}:main
      #       ghcr.io/spack/${{ matrix.dockerfile.name }}:latest
      #       ${{ steps.meta.outputs.tags }}
      #     cache-to: type=inline
